body {
  background-color: 	#4682b4;

 }
section {
  display: none; }

.visible {
  display: block; }

h3, p {
  display: inline-block; }

h2  {
  font-style: italic;
  text-shadow: 40%;
  color: 	#191970;
  font-size: 36px;
  font-family: cursive;
text-align: center;}

.chatPage{
  display: table;   /* Allow the centering to work */
	margin: 0 auto;}

ul li  {
  background-color: white;
  color: black;
  width:700px;
  list-style: none;
  margin left: 50px;
  margin-right: auto;
display: block;}

li{
  margin left: 50px;;
  margin-right: auto;
display: block;
text-align: center;}

  span{
    font-size: 50px;
  }
#logIn {
margin:25px;
margin left: auto;
margin-right: auto;
text-align: center;}

#usernameInput{
  width:400px;
  margin left: 100px;
  margin-right: auto;
  text-align: center;
  display: inline;
}

.frontLogo{
  display: block;
  margin-left: auto;
  margin-right: auto }
}
.chatPage{
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
.postInput{
  margin-right: auto;
  text-align: center;
  display: inline;
  width:400px;
}
